@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('font/Poppins-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('font/Poppins-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('font/Poppins-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('font/Poppins-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('font/Poppins-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url('font/Poppins-BoldItalic.woff') format('woff');
}

:root{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    --color-black: #202020;
    --color-white: #ffffff;
    --color-grey: #f3f3f3;
    --color-border: #a5a5a5;
    --color-primary: #198063;
    --color-primary-light: #5ca08e;
    --color-secondary: #fec855;
    --color-secondary-light: #fee4a9;
}

/* columns */
.horizontal{ /* manual */
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
    grid-template-columns: 1fr;
    margin: 0 -1rem;
    padding: 0 1rem;
}
.horizontal > img{
    max-width: 75%;
    align-self: center;
    justify-self: center;
    margin: 0;
    padding: 0.5rem;
    box-sizing: border-box;
}
.center{
    align-self: center;
    justify-self: center;
}

/* images */
img{
    object-fit: contain;
    margin: 0.5rem;
    max-width: 100%;
}
img.left{
    margin-left: 0;
    max-width: 50%;
    float: left;
}
img.right{
    margin-right: 0;
    max-width: 50%;
    float: right;
}
img.small{
    max-width: 33%;
}

/* links */
a.alt{
    font-size: 0.75rem;
}

/* agenda */
.agenda{
    margin-top: 1rem;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.agenda thead th{
    border-bottom: 1px solid var(--color-black);
    font-weight: bold;
}
.agenda td:nth-of-type(2){
    border-left: 1px solid var(--color-black);
}
.agenda td, .agenda th{
    padding: 0 0.5rem;
}
.agenda td{
    min-width: 3.5rem;
}
.agenda th:nth-child(3), .agenda td:nth-child(3){
    display: none;
}

/* sections */
section p, section li, section dd{
    text-align: justify;
    hyphens: auto;
}
section#references li{
    text-align: left;
}
section.cols{
    columns: 1;
}
section.cols > p:first-of-type{
    margin-top: 0;
}
.colspan {
    column-span: all;
}
section.ol{
    counter-reset: h2list;
}
section.ol h2::before{
    display: inline;
    counter-increment: h2list;
    content: counter(h2list) ". ";
}
h2.material + ul > li, h2.references + ol > li{
    text-align: start;
}

/* references */
a.ref{
    vertical-align: super;
    font-size: 0.75rem;
    text-decoration: none;
}

/* headings */
h2 .slides{
    display: block;
    font-size: 0.5em;
    white-space: nowrap;
}
h2 .slides::before{
    content: '(';
}
h2 .slides::after{
    content: ')';
}

/* description lists */
dt{
    font-weight: bold;
}

/* text decoration */
abbr{
    font-weight: bold;
    font-style: italic;
    color: var(--color-primary);
}
strong, em{
    font-weight: bold;
    font-style: normal;
}
a{
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
}
a:hover{
    text-decoration: underline;
}

/* boxes */
div.info{
    background: var(--color-secondary-light);
    padding: 0.5em 0.75em;
    font-size: 0.85em;
}
div.merge_lists{
    margin: 1rem 0;
}
div.merge_lists ul, div.merge_lists ol{
    margin: 0;
}

/* Digitale Grundbildung */
span.dg_in_module{
    font-size: 0.8em;
}
span.dg_in_module::before{
    content: "[";
}
span.dg_in_module::after{
    content: "]";
}

/* material links */
.material + ul > li > a:first-child::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 0.5rem;
}
.material + ul > li > a[href^="Slides/"]:first-child::before{
    content: "\f51c";
}
.material + ul > li > a[href^="Exercises/"]:first-child::before{
    content: "\f303";
}
.material + ul > li > a[href^="http"]:first-child::before{
    content: "\f0ac";
}
.material + ul > li > a[href^="https://youtu"]:first-child::before,
.material + ul > li > a[href^="https://www.youtu"]:first-child::before{
    content: "\f03d";
}
.material + ul > li > a[href$=".zip"]:first-child::before{
    content: "\f1c6";
}